@font-face {
    font-family: 'RalewayRegular';
    src: url('raleway-regular.eot');
    src: url('raleway-regular.eot') format('embedded-opentype'),
         url('raleway-regular.woff') format('woff'),
         url('raleway-regular.ttf') format('truetype'),
         url('raleway-regular.svg#RalewayRegular') format('svg');
}
